.Page-outline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8vh 16vw;
  position: sticky;
  height: 80%;
  font-size: 36px;
  font-family: Arial;
  font-weight: bold;
  color: #222222;
}

.Page-info-container {
  width: 100%;
  margin: 8vh 4vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}

.Page-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2vh;
  height: 100%;
  width: 40%;
}

.Page-name-input {
  box-sizing: border-box;
  padding: 1em 1em;
  resize: none;
  font-family: Arial;
  color: rgb(65, 65, 65);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  outline: none;
}

.Page-bio-input {
  box-sizing: border-box;
  padding: 1em 1em;
  resize: none;
  font-family: Arial;
  color: rgb(65, 65, 65);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 100%;
  overflow-y: scroll;
  outline: none;
}

.Page-submit-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20vw;
}

.Page-toggle-container {
  display: flex;
  font-size: 16px;
  gap: 1vw;
}
